/* src/main.css */

body {
    font-family: 'Rubik', sans-serif;
}

.ow-orange-bg {
    background-color: #ED6516;
}

/* Fijamos tamaño para el retrato central recuperado */
#portrait-border {
    width: 180px;
    height: 180px; 
    background-color: rgba(0, 0, 0, 0.3); /* Fondo oscuro por si la imagen tarda */
}

.type-link:not(.bg-orange-600) {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Ocultar barra de scroll horizontal si los iconos se desbordan un poco */
::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1); 
}
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3); 
    border-radius: 4px;
}