

@font-face {
    font-family: 'Big Noodle';
    src: url(./fonts/big_noodle_titling_oblique.ttf);
    font-style: normal;
}

body {
    font-family: 'Big Noodle', Arial, Helvetica, sans-serif;
    letter-spacing: .1em;
}

.ow-yellow-bg {
    background-color: #f79d19;
}

#portrait-border {
    width: 180px;
}